extends index

block content
    main
      .containerHTML
        section.padder
          .two-thirds
            .theme-default
              #slider.nivoSlider
                a(href='#', title='advertising')
                  img(src='/public/Design_HTML/ims/01.jpg', alt='advertising', title='#adv-1')
                a(href='#', title='advertising')
                  img(src='/public/Design_HTML/ims/02.jpg', alt='advertising', title='#adv-2')
                a(href='#', title='advertising')
                  img(src='/public/Design_HTML/ims/03.jpg', alt='advertising', title='#adv-3')
              #adv-1.nivo-html-caption
                h1
                  i.ion-information-circled
                  |   Advertising -1
              #adv-2.nivo-html-caption
                h1
                  i.ion-information-circled
                  |   Advertising -2
              #adv-3.nivo-html-caption
                h1
                  i.ion-information-circled
                  |   Advertising -3
            .padder15
            h4 // НАШИТЕ ПЕЧАТНИ ПРОДУКТИ
            p
              | Trying to balance running a business and creating the types of digital content you know your business needs can be difficult, often impossible. With outsourced digital content services from Synergiste, we eliminate the burden of the entire process of research, creation, and publishing of digital content and place it in the hands of our experts. Our content creators often work hand in hand with our design and marketing specialists - a relationship which results in lower costs which we pass on to you.
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/viz.jpg', alt='vizitki')
                  p "Вижте повече"
                figcaption
                  h3
                    span Визитки
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/flyers.jpg', alt='flyers')
                  p "Вижте повече"
                figcaption
                  h3
                    span Флаери
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/posters.jpg', alt='posters')
                  p "Вижте повече"
                figcaption
                  h3
                    span Плакати
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/papki.jpg', alt='papki')
                  p "Вижте повече"
                figcaption
                  h3
                    span Папки
            .padder2  
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/broshure.jpg', alt='broshure')
                  p "Вижте повече"
                figcaption
                  h3
                    span Брошури
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/catalogue.jpg', alt='catalogue')
                  p "Вижте повече"
                figcaption
                  h3
                    span Каталози
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/calendars.jpg', alt='calendars')
                  p "Вижте повече"
                figcaption
                  h3
                    span Календари
            .one-fourth
              figure.snip1218
                a(href='/products/vizitki')
                .image
                  img(src='../public/Design_HTML/products/img-hover/stickers.jpg', alt='stickers')
                  p "Вижте повече"
                figcaption
                  h3
                    span Стикери
          .one-third.end.sidebar
            .price-box
              .price-box-lead
                span(style='color: #f39700') ФЛАЕРИ
                br
                |            САМО ДО КРАЯ НА МЕСЕЦА:
              .price-box-price
                | 1000 бр. / 100 лв.
              a.ghost-button(href='#', title='Поръчай') Поръчай!
            h5(align='center') Три топ причини, за да възложите печатните си материали на нас:
            ul.boxed-benefits
              li
                strong Отлично качество
                |  - Разполагаме с най-новите машини за дигитален и офсетов печат и довършителни операции.
              li
                strong Кратки срокове
                |  - Оптимизираният ни процес на работа ни позволява да изпълним всякакви тиражи в кратки срокове.
              li
                strong Защото сме експерти
                |  - В нашите отдели работят експерти във всеки един етап от дизайнерския, предпечатния и печатния процес.
            .mailing-list-box
              .mailing-list-box-lead
                | Региктрирайте се за нашия бюлетин и останете информирани чрез нашите новини и съвети.
              input.mailing-list-email(type='text')
              input.mailing-list-submit(type='submit', value='E-mail')