extends main

block content
    .container
        .row
            .col-md-7
                img.my-slides(src='public/images/home/PlakatBanner.jpg')
                img.my-slides(src='public/images/home/FlyerBanner.jpg')
                img.my-slides(src='public/images/home/BroschuereBanner.jpg')
                p.text-img PRINT SIMPLE ONLINE