extends index

block includes
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet', type='text/css', href='../public/Design_HTML/slider/nivo-slider/themes/default/default.css')
    link(rel='stylesheet', type='text/css', href='../public/Design_HTML/slider/nivo-slider/nivo-slider.css')
    link(rel='stylesheet', type='text/css', href='../public/Design_HTML/slider/nivo-lightbox/nivo-lightbox.css')
    link(rel='stylesheet', type='text/css', href='../public/Design_HTML/slider/nivo-lightbox/themes/default/default.css')
    link(rel='stylesheet', type='text/css', href='../public/Design_HTML/css/hover.css')
    link(rel='stylesheet prefetch', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='../public/Design_HTML/css/style.css')