.form-panel {
    background: #222222;
}
.color-text {
    color: #c9302c;
}
.btn {
    margin-top: 20px;
}
#main-container {
    margin-top: 70px;
}
.nav-img {
    margin-left: 5px;
}
.nav-products {
    margin-top: 7px;
}
.not-style-link {
    text-decoration: none;
    color: black;
}
.admin-color {
    color: red;
}