@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif!important;
}
.end {
  padding-left: 40px;
}
@media only screen and (max-width: 768px) {
  .end {
    padding-left: 0;
  }
}
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
section {
  zoom: 1;
}
section:before,
section:after {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
.padder {
  padding: 40px 0;
}

.padder15 {
  padding: 15px 0;
}

.padder2 {
  padding: 2px 0;
}

#pre-header {
  height: 2.25em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  overflow: hidden;
}

#pre-menu {
   height: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 3px solid #f39600;
  border-bottom: 3px solid #f39600;
  background: #222;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #pre-header {
    display: none;
  }
}
#pre-header .container {
  height: 2.25em;
}

#pre-header #company-nav {
  float: right;
  height: 2.25em;
}
#pre-header #company-nav a {
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
  display: block;
  float: left;
  height: 2.85em;
  line-height: 2.85em;
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: .025em;
}
#pre-header #company-nav a:hover {
  color: #ffffff;
  background: #f39700;
}

#pre-header #company-nav a:hover:first-of-type {
    background-color: #fff;
    color:#000;
}

header .logo {
  float: left;
  background: url('../ims/logo.png');
  background-size: 80%;
  display: block;
  height: 4.3em;
  width: 20em;
  background-repeat: no-repeat;
  direction: rtl;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 1em;
}

@media only screen and (max-width: 768px) {
  header .logo {
    background-size: 80%;
  }
}

header #main-nav {
  float: right;
  margin-top: 2.75em;
 }
@media only screen and (max-width: 1024px) {
  header #main-nav {
    display: none;
  }
}
header #main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Arimo', sans-serif;
  font-size: 0.9em;
  display: inline-block;
  margin-left: 3em;
  color: #fff;
  font-weight: bold;
}
header #main-nav a:hover {
  opacity: .8;
}
header #responsive-menu-button {
  display: none;
  font-size: 3em;
  color: #fff;
  float: right;
  margin-top: .50em;
}
@media only screen and (max-width: 1024px) {
  header #responsive-menu-button {
    display: block;
  }
}
header #responsive-menu-button:hover {
  opacity: .8;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 1025px) {
  .container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
}
h4 {
  font-family: 'Arimo', sans-serif;
  font-size: 1.35em;
  line-height: 1.5;
}
h5 {
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  color: #16646f;
}
h6 {
  font-family: 'Arimo', sans-serif;
  font-size: 1.25em;
  display: inline-block;
}
p {
  margin: 25px 25px 25px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: .91em;
  color: #555555;
  line-height: 1.5;
}
p a {
  color: #16646f;
  font-weight: bold;
}

main {
  zoom: 1;
}
main:before,
main:after {
  content: "";
  display: table;
}
main:after {
  clear: both;
}
@media only screen and (max-width: 768px) {
  main {
    text-align: center;
  }
}
.full {
  float: left;
  display: block;
  width: 100%;
}
.one-half {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .one-half {
    width: 100%;
  }
}
.one-fourth {
  float: left;
  width: 23%;
  margin-right: 2%;
  margin-top:10px

}
@media only screen and (max-width: 768px) {
  .one-fourth {
    width: 100%;
  }
}
.three-fourths {
  float: left;
  width: 75%;
}
@media only screen and (max-width: 768px) {
  .three-fourths {
    width: 100%;
  }
}
.one-third {
  float: left;
  width: 33.333%;
}
@media only screen and (max-width: 768px) {
  .one-third {
    width: 100%;
  }
}
.two-thirds {
  float: left;
  width: 66.667%;
}
@media only screen and (max-width: 768px) {
  .two-thirds {
    width: 100%;
  }
}
.one-fifth {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 768px) {
  .one-fifth {
    width: 100%;
  }
}
.two-fifths {
  float: left;
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .two-fifths {
    width: 100%;
  }
}
.three-fifths {
  float: left;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .three-fifths {
    width: 100%;
  }
}
.four-fifths {
  float: left;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .four-fifths {
    width: 100%;
  }
}
.ghost-button {
  font-family: 'Arimo', sans-serif;
  font-size: .85em;
  font-weight: bold;
  color: white;
  background: #16646f;
  text-decoration: none;
  border: 1px solid #16646f;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 2px;
  border-bottom: 4px solid #05535e;
}
.ghost-button:hover {
  background: #277580;
}
.cta {
  border: 1px solid #ddd;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 25px;
  margin: 25px 0;
  text-align: center;
  border-bottom: 4px solid #ddd;
}
.cta h4 {
  font-size: 1em;
}
.cta a {
  color: #16646f;
}
.cta strong {
  color: #16646f;
  font-weight: bold;
}
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 15px;
}
.mailing-list-box {
  border: 1px solid #ddd;
  border-bottom: 4px solid #ddd;
  padding: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  zoom: 1;
}
.mailing-list-box:before,
.mailing-list-box:after {
  content: "";
  display: table;
}
.mailing-list-box:after {
  clear: both;
}
.mailing-list-box .mailing-list-box-lead {
  font-family: 'Arimo', sans-serif;
  font-size: .85em;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 15px;
}
.mailing-list-box .mailing-list-email {
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ddd;
  border-right: 0;
  padding: 10px;
  width: 70%;
  font-family: 'Arimo', sans-serif;
  color: #555;
  border-bottom: 4px solid #ddd;
}
.mailing-list-box .mailing-list-submit {
  width: 30%;
  float: left;
  padding: 10px;
  border: 1px solid #1a717d;
  background: #1a717d;
  color: white;
  font-family: 'Arimo', sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 4px solid #09606c;
}
.mailing-list-box .mailing-list-submit:hover {
  background: #2b828e;
}
.standard-bullets {
  margin: 25px 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: .9em;
  color: #555;
}
.standard-bullets strong {
  font-weight: bold;
  color: #16646f;
}
.standard-bullets li {
  list-style-position: inside;
  margin: 25px 0;
}
.boxed-benefits {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  line-height: 1.5;
  margin: 25px 0;
}
.boxed-benefits li {
  text-align: center;
  display: block;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  background: #f0f4fe;
  margin: 15px 0;
}
.boxed-benefits li strong {
  font-weight: bold;
}
.price-box {
  border: 1px solid #dddddd;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom: 4px solid #ddd;
  margin-bottom: 25px;
  padding: 30px;
  line-height: 1.5;
  text-align: center;
}
.price-box .price-box-lead {
  font-size: .85em;
  font-weight: bold;
}

.price-box .price-box-lead span {
  font-size: 2.4em;
  font-weight: bold;
}
.price-box .price-box-price {
  font-weight: 300;
  font-size: 1.8em;
  color: #16646f;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.price-box .ghost-button {
  margin-top: 10px;
}
#content-types ul {
  margin: 25px 0;
  line-height: 1.5;
  zoom: 1;
}
#content-types ul:before,
#content-types ul:after {
  content: "";
  display: table;
}
#content-types ul:after {
  clear: both;
}
#content-types ul li {
  display: block;
  float: left;
  width: 50%;
}
@media only screen and (max-width: 480px) {
  #content-types ul li {
    float: none;
    display: block;
    width: auto;
  }
}
#content-types ul li:before {
  font-family: 'Ionicons';
  margin-right: .75em;
  font-size: 36px;
  color: #16646f;
  vertical-align: middle;
}
#content-types ul li.blog:before {
  content: "\f23d";
}
#content-types ul li.whitepaper:before {
  content: "\f471";
}
#content-types ul li.infographic:before {
  content: "\f2e4";
}
#content-types ul li.website:before {
  content: "\f20a";
}
#content-types ul li.newsletter:before {
  content: "\f474";
}
#content-types ul li.briefcase:before {
  content: "\f3ed";
}
#big-nav {
  background: #e6e6e6;
  padding: 30px 0;
  border-top: 1px solid #ddd;
  border-bottom: 4px solid #ddd;
}
@media only screen and (max-width: 768px) {
  #big-nav {
    text-align: center;
  }
}
#big-nav h5 a {
  color: #f39700;
  text-decoration: none;
}
#big-nav h5 a:hover {
  color: #f39700;
}
#big-nav nav {
  margin: 15px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .82em;
  line-height: 1.5;
}
#big-nav nav a {
  text-decoration: none;
  color: #555;
  display: block;
  font-weight: 400;
}
#big-nav nav a:hover {
  color: #f39700;
}
footer {
  border-bottom: 5px solid #16646f;
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  color: #555;
}
@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
}
footer #footer-nav {
  float: right;
}
@media only screen and (max-width: 768px) {
  footer #footer-nav {
    float: none;
    display: block;
    width: auto;
  }
}
footer #footer-nav a {
  color: #16646f;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}
@media only screen and (max-width: 768px) {
  footer #footer-nav a {
    float: none;
    display: inline-block;
    width: auto;
  }
}
footer #footer-nav a:hover {
  text-decoration: underline;
}
footer #footer-nav a:first-of-type {
  padding-left: 0;
}
footer #footer-nav a:last-of-type {
  padding-right: 0;
  border-right: 0;
}
footer .copyright {
  float: left;
}
@media only screen and (max-width: 768px) {
  footer .copyright {
    float: none;
    display: block;
    width: auto;
    margin-bottom: 10px;
  }
}
.mega-menu {
  padding: 30px 0;
  background: #f5f5f5;
  text-align: center;
  display: none;
}
.mega-menu .close-menu {
  text-align: center;
  padding: 15px 0;
  border-top: 1px dotted #bbb;
  border-bottom: 1px dotted #bbb;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  color: #555;
  margin-top: 20px;
  font-weight: bold;
}
.mega-menu .close-menu:hover {
  background: #eeeeee;
  cursor: pointer;
}
.mega-menu .close-menu i {
  font-size: 2.5em;
}
.mega-menu h5 {
  color: black;
}
.mega-menu .service {
  margin: 15px 0;
}
.mega-menu .service i {
  font-size: 42px;
  color: #f39700;
  border: 2px solid #f39700;
  height: 84px;
  width: 84px;
  line-height: 84px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  background: white;
}
.mega-menu .service i:hover {
  background: #f39700;
  color: white;
}
#responsive-menu {
  background: #1a717d;
  display: none;
}
@media only screen and (min-width: 1025px) {
  #responsive-menu {
    display: none !important;
  }
}
#responsive-menu a {
  display: block;
  border-top: 1px solid #333;
  padding: 15px;
  color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  background: #222;
}
#responsive-menu a:hover {
  background: #333;
}
