extends ../main

block content
    .container
        .row
            .col-md-6.col-md-offset-3
                table.table.table-hover
                    thead
                        tr
                            th USERNAME
                            th NAME
                            th STATUS
                    tbody
                        each users in usersData
                            tr
                                td
                                    a.not-style-link(href='/admin-panel/' + users._id)= users.username
                                td= users.firstName
                                if !users.role || user.role != 'admin'
                                    td user
                                else
                                    td.admin-color= users.role
        .row.text-center
            ul.pagination.pagination-sm
                if page == 1
                    li.disabled
                        a() &laquo;
                else
                    li.active
                        a(href='/admin-panel?page=' + (page - 1)) &laquo;
                -   for (let i = 1; i <= totalPagesCount; i += 1)
                    li.active
                        a(href="/admin-panel?page=" + i)= i
                if page == totalPagesCount
                    li.disabled
                        a() &raquo;
                else
                    li.active
                        a(href="/admin-panel?page=" + (page + 1)) &raquo;

