extends ../main

block content
    .container
        table.table.table-striped.table-hover
            thead
                tr.alert-danger
                    th USERNAME
                    th NAME
                    th STATUS
            tbody
                each users in usersData
                    tr
                        td
                            a.not-style-link(href='/admin-panel/'+ users._id)= users.username
                        td= users.firstName
                        if !users.role || user.role != 'admin'
                            td user
                        else
                            td.admin-color= users.role

