extends ../main

block content
    .container
        .row
            .col-md-10.col-md-offset-1
                .col-md-6.col-md-offset-3
                    .form-group.has-error
                        .panel.panel-danger.panel-credentials
                            .panel-body.form-panel
                                h2.text-center.color-text Register
                                hr
                                form(action='/register' method='post')
                                    .form-group
                                    input#first-name-register.form-control(type='text' name='firstName' placeholder='First Name' required='true')
                                    .form-group
                                    input#last-name-register.form-control(type='text' name='lastName' placeholder='Last Name' required='true')
                                    .form-group
                                    input#username-register.form-control(type='text' name='username' placeholder='Username' required='true')
                                    .form-group
                                    input#password-register.form-control(type='password' name='password' placeholder='Password' required='true')
                                    .form-group
                                    input#reenter-password-register.form-control(type='password' name='con-password' placeholder='Confirm Password' required='true')
                                    .form-group
                                    input#email-register.form-control(type='text' name='email' placeholder='E-Mail' required='true')
                                    .form-group
                                    input#avatar-register.form-control(type='text' name='profilePicture' placeholder='Profile Picture URL (optional)')
                                    .form-group.text-center
                                        button#btn-register.btn.btn-danger(type='submit') Submit